/* media query*/

@media(max-width:991px) {
    .text-content {
        width: 100%;
    }

    .navigation-wrap .navbar-brand img {
        height: 3.8125rem;
    }

    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link {
        line-height: 1.875rem;
    }

    .top-banner {
        padding: 9.375rem 0 9.375rem;
    }
}

@media(max-width:767px) {

    h1 {
        font-size: 2.8rem;
    }

    h1 {
        font-size: 2.8rem;
    }

    .top-banner {
        padding: 10.875rem 0 9.375rem;
    }

    .story-section {
        height: auto;
        padding: 3rem 0;
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}